{% extends 'index.html' %}

{% block content %}

<main style="margin: auto;
  width: 50%;">
    <div style="margin: auto; width: 50%; padding: 10px;">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
                <label for="inputFirstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="Your first name">
            </div>
            <div class="col-12">
                <label for="inputSecondName" class="form-label">Second name</label>
                <input type="text" class="form-control" id="inputSecondName" placeholder="Your second name">
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
